@import "./../../variables";
.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #cacaca;
  padding: $padding-tiny;
  border-radius: $br-mid;
  @media only screen and (max-width: 400px) {
    padding: $padding-mob;
  }
  .task-top {
    display: flex;
    align-items: center;
    gap: 20px;
    .task-title {
      line-height: 1;
      font-weight: 500;
    }
    p {
      font-weight: 300;
    }
  }
  .task-btn-container {
    display: flex;
    gap: 20px;
    .btn-task {
      background: $accent-dark;
      transition: background 250ms ease-in-out;
      &:hover {
        background: $accent-dark-hover;
      }
    }
  }
}
