$white: #fff;
$lightgrey: #e6e6e6;
$grey: #afafaf;

$black: #000;
$mid-black: #232323;
$light-black: #555;

$accent: #1a73e8;
$accent-dark: #003c8a;
$accent-light: #bdd1eb;

$br-small: 4px;
$br-mid: 8px;
$br-big: 12px;

$padding-small: 24px;
$padding-big: 24px 40px;
$padding-tiny: 20px;
$padding-mob: 20px 16px;
